<div id="command-sidebar" class="command-sidebar">
    <div class="job container inactive">
        <div class="@(HexId < 1 ? "d-none" : "") text-light">@HexId</div>
        <button type="button" @onclick="@CreateJobAsync" class="execute btn btn-dark">Klick mich!</button>
        <button type="button" @onclick="@Login" class="execute btn btn-dark">Login</button>
    </div>
</div>

@using System.Net.Http
@using Haraka.WebApp.Shared.Information
@using Haraka.WebApp.Client.Services
@inject AuthenticationService authService
@inject HttpClient Http
@inject IJSRuntime jsRuntime

@code {
    public int HexId
    {
        get => hexId; set
        {
            hexId = value;
            StateHasChanged();
        }
    }

    private int hexId;

    private async Task CreateJobAsync()
    {
        if (HexId < 1)
            return;

        var addItem = new JobInfo { HexagonId = HexId, JobType = "Demo" };
        await Http.PostAsJsonAsync("api/job/create", addItem);

    }

    private async Task Login()
    {
        await authService.Login("Demo");
    }

}
