@inherits LayoutComponentBase

<NavMenu />


<!-- Page Content -->
<div class="main">
    <div id="main-content" class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
            </div>
        </nav>
        @Body
    </div>
</div>
