<nav id="mySidebar" class="sidebar">
    <div class="toggle-menu">
        <input onchange="toggleMenu()" type="checkbox" id="hamburg" checked>
        <label for="hamburg" class="hamburg">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </label>
    </div>    
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <i class="fas fa-globe-africa"></i>
        <div class="nav-title">Map</div>
    </NavLink>
</nav>